*{
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (max-wdth:801px) {
   header{
    display: flex !important;
    flex-wrap: wrap !important;
   }    
}
.poto{
    margin-left: 73px;
    width: 27px;
    margin-top: 34px;
}
@media (max-width:1159px) {
    .poto{
    margin-left: 20px;
  
    }
}
@media (max-width:657px) {
    .poto{
        width: 24px !important;
        margin-left: 0px;
    }
}
@media (max-width:752px) {
    .poto{
       display: none;
    }
}
.name{
    color: #362122 ;
    text-decoration: none;
    font-size: 20px;
    margin-left: 24px ;
    margin-top: 34px;
}
.nav{
    margin-left: 90px;
}

.nav-item{
    margin-top: 34px !important;
    
}
.nav-link{
font-family: 'Inter';
font-style: normal;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 19px !important;
color: #212B36 !important;
text-decoration: none !important;
padding-left: 35px !important;
}
@media (max-width:909px) {
    .nav{
    margin-left: 5px !important;
    }
}
.numb{
margin-top: 43px;
margin-left: 134px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #212B36;
}
@media (max-width:1079px) {
    .numb{
        margin-left: 0px !important;
    }
}
.circle{
    margin-top: 34px;
    margin-left: 35px;
    background-color: #f2f4f6;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart{
    margin-top: 34px;
    margin-left: 15px;
    background-color: #f2f4f6;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket{
    margin-top: 34px;
    margin-left: 15px;
    background-color: #f2f4f6;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:826px) {
    .circle{
        margin-left: 10px;
    }
}
.profile{
 color: #212B36;
}
.col-sm-8{
    background-image: url('../img/Rectangle\ 4925.png');
    max-width: 770px !important;
    min-height: 480px !important;
}
.Mega{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
color: #212B36;
padding-top: 105px;
padding-left: 65px;
max-width: 379px;
text-align: left ;
}
.ipsum{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #637381;
max-width: 405px;
padding-left: 65px;
padding-top: 20px;
display: flex;
text-align: left;
}
.btn-primary{
background: #3056D3 !important;
border-radius: 4px !important;
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 16px !important;
line-height: 24px !important;
color: #FFFFFF !important;

}
.bt{

   display: flex;
   justify-content: left;
   margin-left: 64px !important;
   margin-top: 40px !important;
} 

.col-sm-8{
    margin-top: 40px !important;
    min-width: 770px !important;
}
@media (max-width:917px) {
    .col-sm-8{
        margin-left: 0px !important;
        min-width: 470px !important
    }
}
@media (max-width:481px) {
    .col-sm-8{
        min-width: 370px !important
    }
}
@media (max-width:1329px) {
    .col-sm-8{
        margin-left: 20px !important;
    }
}
@media (max-width:413px) {
    .col-sm-8{
        margin-left: 0px !important;
    }
}

.rame0{
    margin-left: 30px;
}
@media (max-width:413px) {
    .rame0{
        margin-left: 0px;
    }
}

.rame{
    height: 20px !important;
    background-image: url('../img/Rectangle\ 4926.png');
    background-repeat: no-repeat;
    min-width: 370px !important; 
    min-height: 225px;
    margin-top: 40px;
}

.rame1{
    height: 20px !important;  
}
.raime{
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}
.rame h1{
width: 177px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
text-align: right;
color: #212B36;
margin-left: 158px !important;
padding-top: 94px;
}
.rame p{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #212B36;
margin-right: 35px !important;
}
.rame1{
    background-image: url('../img/Rectangle\ 4927.png');
    margin-top: 30px;
    max-width: 370px;
    min-height: 225px;
}

.rame1 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #212B36;
    max-width: 144px;
    margin-left: 191px;
    padding-top: 94px;
}
.rame1 p{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #212B36;
padding-right: 35px !important;
}
.shua h1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
color: #212B36;
margin-top: 120px;
}
.fuuu{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #637381;
    max-width: 500px;
    margin: auto;
    margin-top: 39px;
}
.card-title{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #212B36;
text-align: center;
margin-top: 0px;
}
.card-text{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #212B36;
margin-top: 5px;
text-align: center;
}
.btn1{
    display: flex !important;
    justify-content: center;
}
.btn-primary:hover {
    background: #212B36 !important;
  }
  .shua1{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap !important;
  }
  

  .texti1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #3056D3;
margin-top:180px;

  }
  .texti2{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;
color: #000000;
max-width: 445px;
margin-top:15px;

  }
  .texti3{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #637381;
margin-top: 25px;
max-width: 445px;
  }
  .im{
    min-width: 470px !important;
    max-height: 452px !important;
    border-radius: 8px;
    margin-top: 120px;
    margin-left: 55px;
  }
  @media (max-width:677px) {
    .im{
     margin-left:0px;
     max-width: 300px !important;
    }
  }
  .ori h1{
    text-align: center !important;
    margin-top: 120px;
  }
  .row{

    justify-content: center;
  }
  .row.k{
    margin-top: 64px;
  }
  
  .mi{
    min-width: 470px !important;
    max-height: 452px !important;
    border-radius: 8px;
    margin-top: 120px;
  }
  .text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3056D3;
    margin-top:180px;
    
      }
      .text2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    max-width: 445px;
    margin-top:15px;
    
      }
      .text3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #637381;
    margin-top: 25px;
    max-width: 445px;
      }
      .texteb{
        margin-left: 55px;
      }
      .gigani{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
text-transform: capitalize;
color: #212B36;
margin-top: 240px;

      }
      .gigani1{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #637381;
margin-top: 15px;
max-width: 490px;
margin: auto;
      }
     .col.r{
        margin-top:61px ;
      }
      .col.r1{
        margin-top:61px ;
      }
      .col.r2{
        margin-top:61px ;
      }
      .col.r3{
        margin-top:61px ;
      }
      .gigani2{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #000000;
padding-top: 20px;
      }
      .gigani3{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #637381;
      }
      .gigani4{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #000000;
padding-top: 20px;
      }
      .gigani5{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #637381; 
      }
      .gigani6{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #000000;
padding-top: 20px;
      }
      .gigani7{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #637381; 
      }
      .gigani8{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #000000;
padding-top: 20px;
      }
      .gigani9{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #637381; 
      }
     .gigani10 button{
        margin-top: 80px;
     }
     .gigani11{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
text-transform: capitalize;
color: #2E2E2E;
margin-top: 240px;
     }
     .gigani12{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #637381;
max-width: 438px;
margin: auto;
margin-top: 15px;
     }
     .col.ra{
        margin-top: 60px;
     }
     .col.ra1{
        margin-top: 60px;
     }
     .col.ra2{
        margin-top: 60px;
     }
     .gigani13{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #212B36;
text-align: left;
max-width: 370px;
margin-top: 18px;
     }
     .gigani14{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #637381;
text-align: left;
margin-top: 15px;

     }
     .gigani15{
        font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #212B36;
text-align: left;
max-width: 370px;
margin-top: 18px;
     }
     .gigani16{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #637381;
text-align: left;
margin-top: 15px;
     }
     .gigani17{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #212B36;
        text-align: left;
        max-width: 370px;
        margin-top: 18px;
     }
     .gigani18{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #637381;
        text-align: left;
        margin-top: 15px;
     }
  .fola{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
color: #FFFFFF;
background: #3056D3;
border-radius: 5px;
max-width: 115.87px;
text-align: center;
margin-top: 30px;
  }
  .free{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #212B36;
margin-top: 52px;
  }
  .lorem{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #637381;
margin-top: 10px;
text-align: center;
max-width: 278px;
margin: auto;

  }
  .delivery{
    border: 1px solid #E7E7E7;
  }
 .delivery img{
  margin: auto;
  display: flex;
  margin-top: 84px;
 }
